ion-modal.loading-modal {
    /* --background: transparent !important; */
    --height: 200px !important;
    --width: 200px !important;
    --backdrop-opacity: 0.1 !important;
    --border-color: #ccc;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1.5px;
    --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

ion-content.bg-transparent {
    --background: transparent !important;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box; */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}