/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
	/* Provide fallbacks to 0 if env() not available */
	--safe-top: env(safe-area-inset-top);
	--safe-bottom: env(safe-area-inset-bottom);
	--safe-left: env(safe-area-inset-left);
	--safe-right: env(safe-area-inset-right);

	/* Ionic color mapping from SGM logo */
	--ion-color-primary: #89C2D9;
	--ion-color-primary-contrast: #FFFFFF;
	--ion-color-secondary: #A7E3EB;
	--ion-color-primary-variant: #E8F0FE;
	--ion-color-tertiary: #4A5568;
	--ion-background-color: #FFFFFF;
	--ion-surface-color: #F8FAFC;
	--ion-text-color: #4A5568;


}

.safe-area {
	padding-top: var(--safe-top) !important;
	padding-bottom: var(--safe-bottom) !important;
	padding-left: var(--safe-left) !important;
	padding-right: var(--safe-right) !important;
}